.input {
    --focus: #5171C5;
    --success: #5fbc65;
    --fail: #d92626;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    gap: var(--gap-200, 10px);
    border: var(--input-border-width-default, var(--border-width-100, 1px)) solid var(--input-border-color-default, var(--border-color-200, #DDE0E4));
    background: var(--input-background-default, var(--background-color-200, #ffffff));
    border-radius: var(--border-radius-200, 10px);
    .icon {
        align-items: center;
        justify-content: center;
    }
    .icon--showOnHover {
        opacity: 0;
        transition: opacity .3s ease;
    }
    &:hover .icon--showOnHover {
        opacity: 1;
    }
        
    input {
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
        background: transparent;
        appearance: none;
        font-size: var(--font-size-300, 16px);
        line-height: 20px;
        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active {
            box-shadow: 0 0 0 30px var(--background-color-200) inset !important;
            -webkit-box-shadow: 0 0 0 30px var(--background-color-200) inset !important;
        }
        &:focus,
        &:focus-visible {
            outline: none;
        }
    }
    &--color {
        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 0;
            width: 50px;
            height: 50px;
            border-radius: 5px;
            background-color: transparent;
            overflow: hidden;
            &::-webkit-color-swatch-wrapper {
                padding: 5px;
            }
            &::-webkit-color-swatch {
                border: none;
                border-radius: 3px;
            }
        }
    }
    &[xsize="small"] {
        padding: var(--input-padding, var(--padding-100, 4px));
    }
    
    &[xsize="medium"] {
        padding: var(--input-padding, var(--padding-200, 8px));
        input {
            line-height: 18px;
        }
    }
    
    &[xsize="large"] {
        padding: var(--input-padding, var(--padding-200, 8px));
        input {
            line-height: 26px;
        }
    }
    
    &[xicon="both"] {
        grid-template-columns: 16px auto 16px;
    }
    
    &[xicon="before"] {
        grid-template-columns: 16px auto;
    }
    
    &[xicon="after"] {
        grid-template-columns: auto 16px;
    }
    &:not(.input--checkbox) {
        position: relative;
    }
    
    &[data-focus="true"]:before,
    &:focus:before,
    &[data-focus="false"][data-status="fail"]:before,
    &[data-focus="false"][data-status="success"]:before {
        content: "";
        position: absolute;
        inset: -3px;
        animation-name: animate-in; 
        background-image: linear-gradient(to right, var(--focus), var(--focus)), 
        linear-gradient(to bottom, var(--focus), var(--focus)), 
        linear-gradient(to right, var(--focus), var(--focus)),
        linear-gradient(to bottom, var(--focus), var(--focus)); 
        background-position: 0 0, 100% 0, 100% 100%, 0 100%; 
        background-repeat: no-repeat;   
        border-radius: var(--border-radius-200);
        animation-duration: 0.5s;
        z-index: -1;
    }
    
    &[data-focus="false"][data-status="success"]:before {
        background-image: linear-gradient(to right, var(--success), var(--success)), 
        linear-gradient(to bottom, var(--success), var(--success)), 
        linear-gradient(to right, var(--success), var(--success)),
        linear-gradient(to bottom, var(--success), var(--success)); 
    }
    
    &[data-focus="false"][data-status="fail"]:before {
        background-image: linear-gradient(to right, var(--fail), var(--fail)), 
        linear-gradient(to bottom, var(--fail), var(--fail)), 
        linear-gradient(to right, var(--fail), var(--fail)),
        linear-gradient(to bottom, var(--fail), var(--fail)); 
    }
}


