.rating {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 24px;
    &-container {
        display: flex;
        gap: 2px;
    }
    &-score,
    &-reviews {
        font-size: 12px;
        font-weight: 400;
    }
    &-reviews {
        color: #a5acb6;
    }
}