.icon {
    position: relative;
    display: flex;
    align-items: center;
    &--badge {
        position: absolute;
        right: -4px;
        top: -4px;
    }
    &--default {
        color: #717a84;
    }
    &--change-type {
        color: #a5acb6;
        &:hover {
            color: #717a84;
        }
    }
    &--success {
        color: #5fbc65;
        border: 1px solid #5fbc65;
        border-radius: 50%;
        font-size: 10px;
        height: 16px;
    }
    &--fail {
        color: #d92626;
        border: 1px solid #d92626;
        border-radius: 50%;
        font-size: 10px;
        height: 16px;
    }
    &--spinner {
        display: flex;
        justify-content: center;
        font-size: 60px;
        color: #e1e1e1;
    }
}