.checkbox {
    $c: &;
    background-color: transparent;
    border-radius: 0;
    &-label {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        user-select: none;
        cursor: pointer;
    }

    &-input {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    &-marker {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        background-color: var(--background-color-300);
        border-radius: 4px;
        margin-right: 5px;
        font-size: 12px;
        #{$c}-marker-icon {
            opacity: 0;
        }
        .border {
            width: 10px;
            height: 4px;
            border-radius: 2px;
            background-color: var(--text-color-400);
        }
    }

    &-input + &-marker {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        background-color: var(--background-color-300);
        border-radius: 4px;
        margin-right: 5px;
        font-size: 12px;
        #{$c}-marker-icon {
            opacity: 0;
        }
    }

    &-input:checked + &-marker {
        background-color: var(--accent-color-200);
        #{$c}-marker-icon {
            opacity: 1;
            color: var(--text-color-600);
        }
    }
    &-input[value="intermediate"] + &-marker {
        background-color: var(--background-color-300);
    }
}