.body {
    &_inner {
        max-width: 1440px;
        margin: 0 auto;
        height: 100%;
    }
    height: 100%;
    &_top {
        padding-top: var(--padding-300);
        padding-left: var(--padding-300);
        padding-right: var(--padding-300);
    }
    &_content {
        display: flex;
        gap: 20px;
        padding-top: var(--padding-300);
        padding-bottom: var(--padding-300);
        padding-left: var(--padding-300);
        padding-right: var(--padding-300);
        height: calc(100% - 81px);
    }
    &_left {
        display: flex;
        flex-direction: column;
        gap: var(--gap-300);
        width: 100%;
    }
    &_right {
        width: 100%;
        max-width: 260px;
        background-color: var(--background-color-100);
        padding: var(--padding-200);
        border-radius: var(--border-radius-300);
    }
}