.search {
    &--page {
        .input--search {
            background-color: var(--background-color-200, #F0F2F4);
        }
    }
    &--courses {
        .input--search {
            background-color: var(--background-color-100, #fff);
            border-color: var(--border-color-50, #fff);
        }
    }
}
