.banner {
    &_outer {
        background: var(--banner-background, var(--background-color-100));
        border-radius: var(--banner-border-radius, var(--border-radius-300));
        padding: var(--banner-padding, var(--padding-200));
    }
    &_inner {
        display: flex;
        align-items: flex-end;
        height: 100%;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top 45% center;
        border-radius: var(--banner-border-radius, var(--border-radius-200));
        padding: var(--banner-padding, var(--padding-300));
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%);
        }
    }
    .banner_title {
        z-index: 1;
        .title_greeting {
            display: block;
            color: var(--banner-greeting-color-text, var(--text-color-500));
            font-weight: var(--banner-greeting-font-weight, var(--font-weight-400));
        }
        .title_user {
            display: block;
            color: var(--banner-user-color-text, var(--text-color-400));
        }
    }
}