:root {
    // Colors
    --accent-color-100: #A4C4E3;
    --accent-color-200: #77A6D6;
    --accent-color-300: #4989C8;
    --accent-color-400: #1C6BBA;
    --accent-color-500: #165695;
    --accent-color-600: #114070;
    --accent-color-700: #0B2B4A;
    --background-color-100: #FFFFFF;
    --background-color-150: #F0F2F4;
    --background-color-200: #E1E6E9;
    --background-color-300: #C4CCD0;
    --background-color-400: #B0B9BE;
    --background-color-500: #8D989D;
    --background-color-600: #737C81;
    --background-color-700: #5B6367;
    --background-color-800: #4D5153;
    --background-color-850: #343738;
    --background-color-900: #272829;
    --background-color-950: #181818;
    --text-color-100: #181818;
    --text-color-150: #282828;
    --text-color-200: #363636;
    --text-color-300: #505050;
    --text-color-400: #616161;
    --text-color-500: #7A7A7A;
    --text-color-600: #959595;
    --text-color-700: #B7B7B7;
    --text-color-800: #CACACA;
    --text-color-850: #E5E5E5;
    --text-color-900: #F2F2F2;
    --text-color-950: #FFFFFF;
    --success-color-100: #C9EAD0;
    --success-color-200: #B7E3C1;
    --success-color-300: #94D5A1;
    --success-color-400: #4CB963;
    --success-color-500: #3D944F;
    --success-color-600: #2E6F3B;
    --success-color-700: #17381E;
    --fail-color-100: #EAB7AB;
    --fail-color-200: #E8A08F;
    --fail-color-300: #D57C66;
    --fail-color-400: #BA2D0B;
    --fail-color-500: #952409;
    --fail-color-600: #701B07;
    --fail-color-700: #380E03;
    --warning-color-100: #FFE2BB;
    --warning-color-200: #FFD9A4;
    --warning-color-300: #FFC577;
    --warning-color-400: #FF9F1C;
    --warning-color-500: #CC7F16;
    --warning-color-600: #995F11;
    --warning-color-700: #4D3008;
    --info-color-100: #CDEDF0;
    --info-color-200: #BCE7EB;
    --info-color-300: #9BDCE2;
    --info-color-400: #58C4CE;
    --info-color-500: #469DA5;
    --info-color-600: #35767C;
    --info-color-700: #1A3B3E;

    --size-000: 0;
    --size-025: 1px;
    --size-050: 2px;
    --size-100: 4px;
    --size-200: 8px;
    --size-250: 10px;
    --size-300: 12px;
    --size-400: 16px;
    --size-500: 20px;
    --size-600: 24px;
    --size-700: 28px;
    --size-750: 30px;
    --size-800: 32px;
    --size-900: 36px;

    // Border Size
    --border-width-000: 0;
    --border-width-100: 1px;
    --border-width-200: 2px;
    --border-width-300: 4px;

    // Border Radius
    --border-radius-000: var(--size-000);
    --border-radius-100: var(--size-100);
    --border-radius-200: var(--size-200);
    --border-radius-250: var(--size-250);
    --border-radius-300: var(--size-300);
    --border-radius-400: var(--size-400);

    // Border Color
    --border-color-100: var(--background-color-100);
    --border-color-150: var(--background-color-150);
    --border-color-200: var(--background-color-200);
    --border-color-400: var(--background-color-400);

    // Padding
    --padding-100: var(--size-100);
    --padding-200: var(--size-200);
    --padding-250: var(--size-250);
    --padding-300: var(--size-300);
    --padding-400: var(--size-400);
    --padding-500: var(--size-500);
    --padding-600: var(--size-600);
    --padding-700: var(--size-700);
    --padding-800: var(--size-800);

    // Margin
    --margin-100: 5px;
    --margin-200: 10px;
    --margin-300: 20px;

    // Gap
    --gap-100: 5px;
    --gap-200: 10px;
    --gap-300: 20px;

    // Font-size
    --font-size-100: 12px; 
    --font-size-200: 14px; 
    --font-size-300: 16px; 
    --font-size-400: 18px; 
    --font-size-500: 24px; 
    --font-size-600: 28px; 
    --font-size-700: 42px; 
    --font-size-800: 80px; 
    --font-size-900: 160px; 

    // Font-weight
    --font-weight-300: 300; 
    --font-weight-400: 400; 
    --font-weight-500: 500; 
    --font-weight-700: 700; 

    // Font-weight
    --line-height-100: 1; 
    --line-height-200: 1.2; 
    --line-height-300: 1.4; 

    // Font-weight
    --letter-space-100: 0; 
    --letter-space-200: 0.3px; 
    --letter-space-300: 0.6px; 
}
