@import './variables';

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--body-text-color, var(--text-color-100, #000));
    margin: 0;
}

a {
    color: var(--accent-color-200);
    text-decoration: underline;
    transition: color .3s ease-in-out;
    &:hover {
        color: var(--accent-color-300);
        text-decoration: none;
    }
}

h1 {
    font-size: var(--font-size-600);
    font-weight: var(--font-weight-700);
}

h2 {
    font-size: var(--font-size-500);
    font-weight: var(--font-weight-700);
}

h3 {
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-400);
}

h4 {
    font-size: var(--font-size-300);
    font-weight: var(--font-weight-700);
}

h5 {
    font-size: var(--font-size-200);
    font-weight: var(--font-weight-500);
}

table {
    border-collapse: collapse;
}

tr, th {
    padding: 0;
    margin: 0;
}

.section {
    display: flex;
    flex-direction: column;
    gap: var(--module-gap, var(--gap-200, 10px));
}

@keyframes animate-in {
    0% {
      background-size: 0 2px, 0 0, 0 0, 0 0; 
    }
  
    25% {
      background-size: 100% 2px, 0 0, 0 0, 0 0; 
    }
  
    50% {
      background-size: 100% 2px, 2px 100%, 0 0, 0 0; 
    }
  
    75% {
      background-size: 100% 2px, 2px 100%, 100% 2px, 0 0; 
    }
  
    100% {
      background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%; 
    }
}

@keyframes statusBounceOverlay {
    0% {
        inset: 0;
        opacity: 0.5;
    }
    100% {
        inset: -10px;
        opacity: 0;
    }
}

@keyframes statusBounce {
    0% {
        inset: 0;
        opacity: 0;
    }
    100% {
        inset: -2px;
        opacity: 1;
    }
}