#dashboard .module {
    background-color: var(--background-color-100);
    padding: var(--padding-300);
    border-radius: var(--border-radius-300);
}

#dashboard .module--no-padding {
    padding: 0;
}